*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
@media(max-width:1000px){
    .header{
        width:100%;
        height: 73px;
        background-color: #3BCEFD;
    }

    .nav
    {
        display: flex;
        justify-content: space-between;
    }
    .header .nav
    {
        padding: 5px 100px ;
    }
    .header .nav h1{
        
        font-size: 24px;
        font-weight: 500;
        margin-top: 10px;
    }

    .header .nav ul{
        font-size: 24px;
        font-weight: 500;
        list-style: none; 
        display: flex;
        justify-content: space-evenly;
        
    }
    .header .nav li{
        margin: 10px 15px;
    }

    hr
    {
        margin: auto;
        background-color: black;
        border: none;
        height: 1.5px;
    }

    .container{
        padding-top: 100px;
        height: 100%;
        background-color:#3BCEFD;
        border-bottom-left-radius:40px;
        border-bottom-right-radius:40px;
        display: flex;
        padding-bottom: 20px;
    }

    .container .text-container{
        margin-top: -15px;
        margin-left: 100px;
    }

    .container .text-container h1{
        font-weight: 600;
        font-size: 60px;
    }

    .container .text-container p{
        font-size: 24px;
        font-weight: 400;
        color: #6F6E6E;
    }
    .btn-container{
        padding-top: 50px;
    }

    .message {
        padding: 15px 40px;

        background-color: #12EEE1;
        cursor: pointer;
        box-shadow: 0 7px #009088;
        border-radius: 5px;
    }

    .message:active {
        position: relative;
        top: 7px;
        box-shadow: none;
    }

    .container .img{
        margin-left: -50px;
        margin-top: -90px;
    }
}

@media(max-width:670px){
    .header{
        width:100%;
        height: 73px;
        background-color: #3BCEFD;
    }

    .nav
    {
        display: flex;
        justify-content: space-between;
    }
    .header .nav
    {
        padding: 5px 100px ;
    }
    .header .nav h1{
        
        font-size: 24px;
        font-weight: 500;
        margin-top: 10px;
    }

    .header .nav ul{
        font-size: 24px;
        font-weight: 500;
        list-style: none; 
        display: flex;
        justify-content: space-evenly;
        
    }
    .header .nav li{
        margin: 10px 15px;
    }

    hr
    {
        margin: auto;
        background-color: black;
        border: none;
        height: 1.5px;
    }

    .container{
        padding-top: 100px;
        height: 100%;
        background-color:#3BCEFD;
        border-bottom-left-radius:40px;
        border-bottom-right-radius:40px;
        display: flex;
        padding-bottom: 20px;
    }

    .container .text-container{
        margin-top: -15px;
        margin-left: 100px;
    }

    .container .text-container h1{
        font-weight: 600;
        font-size: 60px;
    }

    .container .text-container p{
        font-size: 24px;
        font-weight: 400;
        color: #6F6E6E;
    }
    .btn-container{
        padding-top: 50px;
    }

    .message {
        padding: 15px 40px;

        background-color: #12EEE1;
        cursor: pointer;
        box-shadow: 0 7px #009088;
        border-radius: 5px;
    }

    .message:active {
        position: relative;
        top: 7px;
        box-shadow: none;
    }

    .container .img{
        margin-left: -50px;
        margin-top: -90px;
    }
}

/* BODY */

.kategori
{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: -2s;
    margin-bottom: 100px;
    margin-top: 100px;
}

@keyframes example
{
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

#icon
{
    background-image: linear-gradient(to bottom left,#12EEE1, #AEE7F8);
    width: 150px;
    border-radius: 15px;

}
#icon i
{
    font-size: 150px;
    grid-area: i;
}
#text p
{
    font-family: 'Poppins', sans-serif;
    grid-area: text;
    font-size: 15px;
}

.category
{
    display: grid;
    grid-template-areas: 
    "i i i i i",
    "text text text text text";
    justify-items: center;
}
.konten
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}

@media(max-width:1000px)
{
    #icon i
    {
        font-size: 100px;
        grid-area: i;
        text-align: center;
    }
    #icon
    {
        
        width: 100px;
        border-radius: 15px;

    }
}
@media(max-width:670px)
{
    #icon i
    {
        font-size: 100px;
        grid-area: i;
        text-align: center;
    }
    #icon
    {
        
        width: 100px;
        border-radius: 15px;

    }
    .category
    {
        display: grid;
        grid-template-areas: 
        "i i i",
        "text text text text text";
        justify-items: center;
    }
    .konten
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }
    #text p
    {
        
        font-size: 12px;
    }

}


/*DATA*/
.checked {
    color: #FFDA44;
 }

.data{
    height: 585px;
    background-color: #1687A7;
    margin-top: 2078px;
    width: 1440px;
}

.title-data{
    text-align: center;
    font-size: 48px;
    color: white;
}

.title-data p{
    padding-top: 45px;
    padding-bottom: 20px;
}

.list-data{
    display: flex;
    justify-content: space-evenly;
}

.card-data{
    border: 1px solid #ADADAD;
    border-radius: 10px;
    background-color: #F0F0F0;
    height: 356px;
}

.container-card p{
    margin: 0 0;
    padding: 3% 3% 0% 3%;
    font-size: 20px;
}

.card-data img{
    width: 248px;
    height: 248px;
    border: 1px solid;
    box-shadow: 0 6px 3px -2px #ADADAD; 
    border-radius: 10px;
}

.star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating{
    display: flex;
    justify-content: space-between;
    padding: 4% 3% 5% 3%;
}

.star p{
    font-size: 14px;
}

/*Footer*/
footer{
    background-color: #276678;
    color: white;
}

.footer-dalem{
    display: flex;
    justify-content: space-around;
}

.judul{
    padding-top: 15px;
}

#copyright{
    padding-top: 74px;
}

.isi{
    font-weight: 100;
    font-size: 15px;
    padding-top: 20px;
   
}

.isi p{
    padding: 5px;
}

#logo a{
    padding-top: 15px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

/*Hero*/ 

.title h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}

.hero {
    background-color: #D3E0EA;
    height: 500px;
    margin-top: 100px;
}

.btn-purchase {
    background-color: #75EFE8;
    float: left;
    margin-left: 495px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    justify-content: center;
    box-shadow: 0 5px;
}

.btn-purchase a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size:larger
}

.container-body {
    margin-left: 500px;
    border-left: 4px solid;
    margin-top: 50px;
}

.btn-purchase img {
    width: 20px;
    height: 15px;
}

.btn-next {
    margin: auto;
}

.container-body h3 {
    font-size: 35px;
    margin-left: 20px;
    margin-top: 10px;
}

.container-body p {
    color: 6F6E6E;
    opacity: 0.5;
    margin-left: 20px;
}

.img-ps4 img {
    margin-top: 40px;
    margin-left: 100px;
}

.container2  {
    float:left
}

.p-top {
    margin-top: 10px;
}

.btn-purchases:active {
    position: relative;
    top: 7px;
    left: 10px;
}

.Purchase{
    cursor: pointer;
}

.btn-purchase:active{
    box-shadow: none;
    position: relative;
    top: 10px;
}

@media (max-width: 1000px) {
    .container-body {
        margin-left: 200px;
        border-left: 4px solid;
        margin-top: 50px;
    }

    .btn-purchase {
        background-color: #75EFE8;
        float: left;
        margin-left: 195px;
        margin-top: 30px;
        padding: 10px;
        border-radius: 10px;
    }
}

@media (max-width: 670px) {
    .container-body {
        margin-left: 60px;
        border-left: 4px solid;
        margin-top: 50px;
    }

    .container-body h3 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 10px;
    }
    
    .container-body p {
        color: 6F6E6E;
        opacity: 0.5;
        margin-left: 20px;
    }

    .btn-purchase {
        background-color: #75EFE8;
        float: left;
        margin-left: 50px;
        margin-top: 30px;
        padding: 10px;
        border-radius: 10px;
    }

    .btn-purchase a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        font-size:larger
    }

    .img-ps4 img {
        width: 200px;
        margin-top: 50px;
        margin-left: 100px;
    }
}